<div class="container border rounded p-5" id="sign-in">
  <h2 class="text-center">SIGN UP</h2>

  <%= simple_form_for @user do |f| %>
  <% if @user.errors.present? %>
        <p>
            <%= @user.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.submit "Sign Up", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
  <br>
  <p class="text-center">Already registered? <%= link_to 'Sign in here', new_session_path %></p>
</div>