<div class="container border rounded p-5" id="sign-in">
  <h1>Sign Up</h1>

  <%= simple_form_for @user do |f| %>
  <% if @user.errors.present? %>
        <p>
            <%= @user.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>
</div>