<div class="jumbotron">
  <%= fa_stacked_icon "line-chart inverse", base: "circle", class: "fa-4x" %>
  <h1 class="display-4">Retail Genie</h1>
  <p class="lead">Your Personalized Sales Analysis Tool</p>
  <hr class="my-4">
  <p>Retail is a tricky business to predict. The ups-and-downs of the business cycle are affected by any number of factors -- the exchange rate, tourism, even weather. In all this noise of information, it's often hard to tell how well the business is doing on it's own merits. Fear not, <b>Retail Genie</b> is here!</p>
  <p>Using data from <b>Statistics Canada</b> and your own sales, <b>Retail Genie</b> gives you immediate feedback on how your business compares to competitors in your city or region.
  </p>
  <% if !current_user.present? %>
    <%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-lg" %>
  <% else %>
    <div class="card mb-3 w-50">
        <div class="card-body">
            <h3>Welcome back, <%= @user.first_name %>!</h3>
        </div>
    </div>
    <%= link_to "Manage Your Account", user_path(current_user), class: "btn btn-primary btn-lg mr-2" %>
    <% if current_user.company %>
        <%= link_to 'Your Company Dashboard', company_path(current_user.company), class: "btn btn-primary btn-lg" %>
    <% end %>
    <hr>
  <% end %>
</div>