<h1>Add a Company:</h1>

<%= simple_form_for(@company) do |f| %>

    <%= f.input :name, label: 'Company Name' %>

    <%= f.input :region_id, collection: @region, input_html: { class: 'chosen-select', id: 'region-selector' }  %>
    <%= f.input :subregion_id, as: :radio_buttons, collection: @subregion, wrapper_html: { class: 'hidden', id: 'subregion-selector hidden' }  %>

    <h2>Select your Industry:</h2>

    <%= f.input :industry_id, label: 'Industry', collection: @industry, input_html: { class: 'chosen-select', id: 'industry-selector' } %>
    <%= f.input :subindustry_id, label: 'Sub-Industry (if applicable)', collection: @subindustry, wrapper_html: { class: 'chosen-select hidden', id: 'subindustry-selector' } %>

    <%= f.submit class: 'btn btn-primary'%>

<% end %>