<h1><%= @company.name %></h1>

<h2><%= @company.industry.name %></h2>

<% if @company.subindustry %>
    <h3><%= @company.subindustry.name %></h3>
<% end %>

<h4>
<% if @company.subregion %>
    <%= @company.subregion.name%>,
<% end %>
<%= @company.region.name %>
</h4>

<hr>
    <%= link_to 'Add Your Company Data', new_sale_path, class: 'btn btn-success'%>
    <%= link_to 'View Sales Data', sales_path, class: 'btn btn-primary'%>
<hr>

<form>
    <div class="form-group">
        <label for="year-selector">Year</label>
        <select class="form-control" id='year-selector'>
            <option selected="selected" value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
        </select>
    </div>
</form>

<div class="sales2017">
    <h5><%= @company.industry.name %> Sales for 2017:</h5>

        <div class="row" style="width: 600px">
            <canvas id="single-chart" data-sales='<%= raw @data.to_json %>'></canvas>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">How do your sales compare?</div>
        <div class="card-body text-dark">
            <p class="card-text">Your sales growth over 2016-2017 was #. Other businesses in your region saw # growth over the same period.</p>
        </div>
        </div>

        <p>Total sales for 2017: $<%= @total_sales%></p>
        <p>Average monthly sales for 2017: $<%= @avg_sales%></p>
        <p>Other stuff: best month, worst month, growth 2016-2017, trend over 2017</p>
        
        <div class="row" style="width: 600px">
            <canvas id="dual-chart" data-sales='<%= raw @sales.to_json %>'></canvas>
        </div>

        <div class="row" style="width: 800px">
            <canvas id="doughnut-chart" data-sales='<%= raw @industry_sales.to_json %>'></canvas>
        </div>
</div>