<h1><%= @company.name %>'s Sales</h1>
<%= simple_form_for(@sale) do |f| %>

<div class="row" style="width: 900px;">
    <% @years.each { |year| %>
    <div class="card col-5 mr-2">
        <div class="card-body">
            <h4 class="card-title">
                <%= year %>
            </h4>
            <div class = "card-text">
                <div class="row">
                    <div class="col-4">
                        <h5>Month</h5>
                    </div>
                    <div class="col-8">
                        <h5>Sales ($)</h5>
                    </div>
                </div>
                <% @months.each { |month| %>
                <div class="row" style="height: 40px;">
                    <div class="col-4 mt-1">
                        <p><%= month %>
                    </div>
                    <div class="col-8">
                        <%= f.input :year, as: :hidden, input_html: { value: year, name: 'sales[][year]' } %>
                        <%= f.input :month, as: :hidden, input_html: { value: month, name: 'sales[][month]' } %>
                        <%= f.input :value, label: false, input_html: { name: 'sales[][value]' } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
</div>
<br>
<%= f.submit "Save Sales", class: 'btn btn-primary', wrapper_html: { id: 'sale-submit' } %>
<% end %>
