<h1>Add Your Sales!</h1>

<p>Please add a minimum of one calendar year (12 months) of sales for best visualization results!</p>

<%= simple_form_for(@sale) do |f| %>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h4 class="card-title">2018</h4>
            <%= f.input :year, as: :hidden, input_html: { value: '2018' } %>
            <div class="card-text">
                <div class="row">
                    <div class="col-4">
                        <h5>Month</h5>
                    </div>
                    <div class="col-8">
                        <h5>Sales ($)</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mt-1">
                        <p>January</p>
                        <%= f.input :month, as: :hidden, input_html: { value: 'January' } %>
                    </div>
                    <div class="col-8">
                        <%= f.input :value, label: false %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mt-1">
                        <p>February</p>
                    </div>
                    <div class="col-8">
                        <%= f.input :value, label: false %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>

<%= f.submit class: 'btn btn-primary' %>
<% end %>